html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 240px;
}

.robot {
  width: 320px;
  transform: translate(-50%);
  height: 1px;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 170px;
  top: 55px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 307px;
  top: 54px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  left: 205px;
  top: 16px;
}

.robot-head-right {
  position: absolute;
  top: 16px;
  left: 330px;
}

.robot:hover .robot-head-right {
  position: absolute;
  left: 364px;
}

.robot:hover .robot-head-left {
  position: absolute;
  left: 172px;
}
