html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 200px;
}

.robot {
  width: 320px;
  transform: translate(-50%);
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 170px;
  top: 15px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 307px;
  top: 12px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  left: 205px;
  top: -25px;
}

.robot-head-right {
  position: absolute;
  top: -25px;
  left: 330px;
}
